<ion-header>
  <ion-toolbar>
    <ion-title>{{getPageTitle()}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let case of groupedData" [routerLink]="[case.id]">
      <ion-label slot="start">
        {{case.name}}
        <ion-label color="medium">
          {{ case.count }} cases
        </ion-label>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
